# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# Owners of the patrol repo.
* @pdenert @piotruela @gogolon @fylyppo @Kendru98 @zoskar @PiotrRogulski @jBorkowska