*.freezed.dart linguist-generated=true
*.g.dart linguist-generated=true
*.pb.swift linguist-generated=true
*.grpc.swift linguist-generated=true
AutomatorServer/android/app/src/androidTest/java/pl/leancode/automatorserver/contracts/**/* linguist-generated=true
packages/patrol/lib/src/native/contracts/**/* linguist-generated=true
