*.freezed.dart linguist-generated=true
*.g.dart linguist-generated=true
*.pb.swift linguist-generated=true
*.grpc.swift linguist-generated=true
packages/patrol/lib/src/native/contracts/**/* linguist-generated=true
packages/patrol/example/android/app/src/androidTest/java/pl/leancode/patrol/example/contracts/**/* linguist-generated=true
packages/patrol_next/android/src/main/kotlin/pl/leancode/patrol_next/contracts/**/* linguist-generated=true
