@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

.dark {
  --color-fd-background: rgb(11, 13, 14);

  --patrol-orange: rgb(255, 160, 63);
  --patrol-yellow: rgb(240, 255, 0);
}

:root {
  a {
    overflow-wrap: break-word;
    text-decoration-color: var(--patrol-orange);
  }

  a:not(.border-transparent) {
    border-bottom-color: var(--patrol-orange);
  }

  div[style*="--callout-color:var(--color-fd-info"] svg {
    fill: var(--patrol-yellow);
  }

  div[style*="--callout-color:var(--color-fd-info"] div[role="none"] {
    background-color: var(--patrol-yellow);
  }

  h1 {
    font-weight: 600;
  }

  article h1:first-child {
    font-weight: 800;
  }

  aside [data-radix-scroll-area-viewport] {
    padding-bottom: 44px;
  }

  .patrol-docs-layout-with-banner {
    --patrol-docs-banner-height: 0px;
    grid-template:
      ". header header header ."
      ". banner banner banner ."
      "sidebar sidebar toc-popover toc-popover ."
      "sidebar sidebar main toc ." 1fr / minmax(min-content, 1fr) var(--fd-sidebar-col) minmax(
        0,
        calc(var(--fd-layout-width, 97rem) - var(--fd-sidebar-col) - var(--fd-toc-width))
      )
      var(--fd-toc-width) minmax(min-content, 1fr) !important;
    --fd-docs-row-1: 0px !important;
    --fd-docs-row-2: calc(var(--fd-header-height) + var(--patrol-docs-banner-height, 0px)) !important;
    --fd-docs-row-3: calc(var(--fd-docs-row-2) + var(--fd-toc-popover-height)) !important;
  }

  .patrol-docs-layout-with-banner:has(#patrol-webinar-banner) {
    --patrol-docs-banner-height: 3rem;
  }

  .nd-banner-patrol-webinar-banner .patrol-docs-layout-with-banner {
    --patrol-docs-banner-height: 0px;
  }

  .patrol-docs-webinar-banner {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    grid-area: banner;
    min-height: var(--patrol-docs-banner-height);
    top: var(--fd-header-height);
    z-index: 9;
  }
}
