name: patrol
description: >
  Powerful Flutter-native UI testing framework overcoming limitations of
  existing flutter testing tools. Ready for action!
version: 1.0.2
homepage: https://patrol.leancode.co
repository: https://github.com/leancodepl/patrol
issue_tracker: https://github.com/leancodepl/patrol/issues

environment:
  sdk: '>=2.18.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  fixnum: ^1.0.1
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  grpc: ^3.1.0
  http: ^0.13.5
  integration_test:
    sdk: flutter
  meta: ^1.7.0
  path: ^1.8.2
  protobuf: ^2.1.0
  vm_service: ^9.0.0

dev_dependencies:
  build_runner: ^2.3.3
  leancode_lint: ^2.1.0

flutter:
  plugin:
    platforms:
      android:
        package: pl.leancode.patrol
        pluginClass: PatrolPlugin
      ios:
        pluginClass: PatrolPlugin
