name: patrol
description: >
  Powerful Flutter-native UI testing framework overcoming limitations of
  existing Flutter testing tools. Ready for action!
version: 3.7.3
homepage: https://patrol.leancode.co
repository: https://github.com/leancodepl/patrol/tree/master/packages/patrol
issue_tracker: https://github.com/leancodepl/patrol/issues
documentation: https://patrol.leancode.co
topics: [test, integration-test, ui-test, patrol]
screenshots:
  - description: The Patrol framework logo.
    path: screenshots/logo.png

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: '>=3.22.0'

dependencies:
  equatable: ^2.0.5
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  http: '^1.1.0'
  json_annotation: ^4.8.1
  meta: ^1.10.0
  patrol_finders: ^2.1.2
  shelf: ^1.4.1
  test_api: '^0.7.0'

dev_dependencies:
  build_runner: ^2.4.6
  custom_lint: ^0.6.4
  json_serializable: ^6.7.1
  leancode_lint: ^12.1.0

flutter:
  plugin:
    platforms:
      android:
        package: pl.leancode.patrol
        pluginClass: PatrolPlugin
      ios:
        pluginClass: PatrolPlugin
        sharedDarwinSource: true
      macos:
        pluginClass: PatrolPlugin
        sharedDarwinSource: true

# These files don't contain real credentials. They exist only for build to pass.
false_secrets:
  - /example/android/app/google-services.json
  - /example/ios/Runner/GoogleService-Info.plist
