name: patrol
description: >
  Powerful Flutter-native UI testing framework overcoming limitations of
  existing Flutter testing tools. Ready for action!
version: 3.0.1
homepage: https://patrol.leancode.co
repository: https://github.com/leancodepl/patrol
issue_tracker: https://github.com/leancodepl/patrol/issues

environment:
  sdk: '>=3.1.0 <4.0.0' # TODO: https://github.com/leancodepl/patrol/issues/1893
  flutter: '>=3.16.0-0'

dependencies:
  equatable: ^2.0.5
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  http: '^1.1.0'
  json_annotation: ^4.8.1
  meta: ^1.10.0
  patrol_finders: ^2.0.0
  shelf: ^1.4.1
  test_api: '^0.6.1'

dev_dependencies:
  build_runner: ^2.4.6
  leancode_lint: ^7.0.0+1

flutter:
  plugin:
    platforms:
      android:
        package: pl.leancode.patrol
        pluginClass: PatrolPlugin
      ios:
        pluginClass: PatrolPlugin
