name: patrol
description: >
  Powerful Flutter-native UI testing framework overcoming limitations of
  existing Flutter testing tools. Ready for action!
version: 3.16.0-dev.1
homepage: https://patrol.leancode.co
repository: https://github.com/leancodepl/patrol/tree/master/packages/patrol
issue_tracker: https://github.com/leancodepl/patrol/issues
documentation: https://patrol.leancode.co
topics: [test, integration-test, ui-test, patrol]
screenshots:
  - description: The Patrol framework logo.
    path: screenshots/logo.png

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: '>=3.24.0'

dependencies:
  boolean_selector: ^2.1.1
  equatable: ^2.0.5
  ffi: ^2.1.3 
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  http: '^1.1.0'
  jni: ^0.13.0
  json_annotation: ^4.8.1
  meta: ^1.10.0
  objective_c: ^7.1.0
  patrol_finders: ^2.8.2
  patrol_log: ^0.4.0
  shelf: ^1.4.1
  test_api: '^0.7.0'

dev_dependencies:
  build_runner: ^2.4.6
  custom_lint: ^0.7.0
  ffigen: ^16.1.0
  jnigen: ^0.13.0
  json_serializable: ^6.7.1
  leancode_lint: ^14.3.0

flutter:
  plugin:
    platforms:
      android:
        package: pl.leancode.patrol
        pluginClass: PatrolPlugin
      ios:
        pluginClass: PatrolPlugin
        sharedDarwinSource: true
      macos:
        pluginClass: PatrolPlugin
        sharedDarwinSource: true

# These files don't contain real credentials. They exist only for build to pass.
false_secrets:
  - /example/android/app/google-services.json
  - /example/ios/Runner/GoogleService-Info.plist
