name: e2e_app
description: A new Flutter project.
publish_to: none
version: 1.0.0+1

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: '>=3.24.0'

dependencies:
  app_links: ^6.1.1
  cupertino_icons: ^1.0.6
  flutter:
    sdk: flutter
  flutter_local_notifications: ^17.2.3
  flutter_timezone: ^1.0.8
  geolocator: ^13.0.0
  permission_handler: ^10.4.5
  timezone: ^0.9.2
  webview_flutter: ^4.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  leancode_lint: ^14.2.0
  patrol:
    path: ../../packages/patrol

flutter:
  uses-material-design: true

patrol:
  app_name: Patrol example
  android:
    package_name: pl.leancode.patrol.e2e_app
  ios:
    bundle_id: pl.leancode.patrol.e2eApp
  macos:
    bundle_id: pl.leancode.patrol.macos.e2eApp
