name: e2e_app
description: A new Flutter project.
publish_to: none
version: 1.0.0+1

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: '>=3.24.0'

dependencies:
  app_links: ^6.1.1
  cupertino_icons: ^1.0.6
  flutter:
    sdk: flutter
  flutter_local_notifications: ^17.2.3
  flutter_timezone: ^4.1.0
  geolocator: ^13.0.0
  google_maps_flutter: ^2.10.0
  permission_handler: ^11.4.0
  timezone: ^0.9.2
  webview_flutter: ^4.4.2

# Due to: https://github.com/Baseflow/flutter-permission-handler/issues/1450#issuecomment-2673836556
dependency_overrides:
  permission_handler_apple: 9.4.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  gpx: ^2.3.0
  leancode_lint: ^14.3.0
  patrol:
    path: ../../packages/patrol

flutter:
  uses-material-design: true
  assets:
    - assets/gpx.gpx

patrol:
  app_name: Patrol example
  android:
    package_name: pl.leancode.patrol.e2e_app
  ios:
    bundle_id: pl.leancode.patrol.e2eApp
  macos:
    bundle_id: pl.leancode.patrol.macos.e2eApp
