name: patrol_finders
description: Streamlined, high-level API on top of `flutter_test`.
version: 2.0.0
homepage: https://patrol.leancode.co
repository: https://github.com/leancodepl/patrol
issue_tracker: https://github.com/leancodepl/patrol/issues

environment:
  sdk: '>=3.1.0 <4.0.0' # TODO: https://github.com/leancodepl/patrol/issues/1893
  flutter: '>=3.16.0-0'

dependencies:
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  meta: ^1.10.0

dev_dependencies:
  leancode_lint: ^7.0.0+1
