name: integration test ios

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'

jobs:
  main:
    name: 'Test on iOS (${{ matrix.device }}, ${{ matrix.os }} ${{ matrix.os_version }})'
    runs-on: macos-latest
    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        flutter-channel: [stable]
        device: ['iPhone 14', 'iPad (9th generation)']
        os: [iOS]
        os_version: ['16.2']

    defaults:
      run:
        working-directory: packages/patrol/example

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.flutter-channel }}

      - name: Preload Flutter artifacts
        run: flutter precache

      - name: Install Patrol
        run: dart pub global activate patrol_cli

      - uses: futureware-tech/simulator-action@v2
        with:
          model: ${{ matrix.device }}
          os: ${{ matrix.os }}
          os_version: ${{ matrix.os_version }}
          erase_before_boot: true
          shutdown_after_job: true

      - run: patrol test -t integration_test/example_test.dart
        if: success() || failure()

      - run: patrol test -t integration_test/notifications_test.dart
        if: success() || failure()

      - run: patrol test -t integration_test/open_app_test.dart
        if: success() || failure()

      - run: patrol test -t integration_test/open_quick_settings_test.dart
        if: success() || failure() # should work, but is empty on Simulator

      - run: patrol test -t integration_test/permissions_location_test.dart
        if: success() || failure()

      - run: patrol test -t integration_test/service_cellular_test.dart
        if: ${{ false }} # Not on Simulator

      - run: patrol test -t integration_test/service_dark_mode_test.dart
        if: success() || failure()

      - run: patrol test -t integration_test/service_wifi_test.dart
        if: ${{ false }} # Not on Simulator

      - run: patrol test -t integration_test/swipe_test.dart
        if: success() || failure()

      - run: patrol test -t integration_test/webview_all_test.dart
        if: ${{ false }} # Temporarily broken
