name: patrol prepare

on:
  push:
    branches: [master]
    tags-ignore: ['*']
    paths:
      - 'packages/patrol/**'
  pull_request:
    branches: [master]
    paths:
      - 'packages/patrol/**'

jobs:
  prepare-android-on-windows:
    runs-on: windows-latest

    defaults:
      run:
        working-directory: packages/patrol/example/android

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Generate Gradle wrapper
        working-directory: packages/patrol/example
        run: flutter build apk --debug --flavor=does-not-exist || true

      - name: ktlint check
        run: .\gradlew.bat :patrol:ktlintCheck

      - name: ktlint format
        run: .\gradlew.bat :patrol:ktlintFormat

      - name: Build app with Gradle
        run: .\gradlew.bat :app:assembleDebug

      - name: Build app with Flutter tool
        run: flutter build apk --debug

  prepare-android-on-linux:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: packages/patrol/example/android

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Generate Gradle wrapper
        working-directory: packages/patrol/example
        run: flutter build apk --debug --flavor=does-not-exist || true

      - name: ktlint check
        run: ./gradlew :patrol:ktlintCheck

      - name: ktlint format
        run: ./gradlew :patrol:ktlintFormat

      - name: Build app with Gradle
        run: ./gradlew :app:assembleDebug

      - name: Build app with Flutter tool
        run: flutter build apk --debug

  prepare-ios:
    runs-on: macos-latest

    defaults:
      run:
        working-directory: packages/patrol/ios

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: brew update
        run: brew update

      - name: brew install swift-format
        run: brew install swift-format

      - name: brew install clang-format
        run: brew install clang-format

      # Disabled because of generated protobuf code
      #- name: swift-format lint
      #  run: test -z $(swift-format lint --recursive --strict .)

      - name: swift-format format
        run: |
          swift-format format --recursive --in-place .
          git update-index --refresh
          git diff-index --quiet HEAD --

      - name: clang-format
        run: |
          find . -iname '*.h' -o -iname '*.m' | xargs -I {} clang-format --dry-run --Werror {}

  prepare-flutter:
    name: Flutter ${{ matrix.flutter-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        flutter-version: ['3.3.x', '3.7.x', '3.10.x']

    defaults:
      run:
        working-directory: packages/patrol

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.channel }}
          flutter-version: ${{ matrix.flutter-version }}

      - name: flutter pub get
        run: flutter pub get

      - name: flutter test
        run: flutter test --coverage

      - name: flutter analyze
        run: flutter analyze

      - name: dart format
        run: dart format --set-exit-if-changed .

      - name: flutter pub publish --dry-run
        run: flutter pub publish --dry-run

      - name: flutter pub get (example app)
        working-directory: ./packages/patrol/example
        run: flutter pub get

      - name: dart format (example app)
        working-directory: ./packages/patrol/example
        run: dart format --set-exit-if-changed .

      - name: flutter analyze (example app)
        working-directory: ./packages/patrol/example
        run: flutter analyze

      - name: flutter test (example app)
        working-directory: ./packages/patrol/example
        run: flutter test
