name: test ios device

on:
  workflow_dispatch:
  schedule:
    - cron: '30 21 * * *'

jobs:
  main:
    name: Test on iOS device on Firebase Test Lab
    runs-on: macos-13
    timeout-minutes: 60

    defaults:
      run:
        working-directory: packages/patrol/example

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY_JSON }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.flutter-channel }}

      - name: Preload Flutter artifacts
        run: flutter precache

      - name: Run example_test.dart
        run: ./run_ios_testlab integration_test/example_test.dart
        if: success() || failure()

      - name: Run notifications_single_test.dart
        run: ./run_ios_testlab integration_test/notifications_single_test.dart
        if: success() || failure()

      - name: Run notifications_many_test.dart
        run: ./run_ios_testlab integration_test/notifications_many_test.dart
        if: success() || failure()

      - name: Run open_app_test.dart
        run: ./run_ios_testlab integration_test/open_app_test.dart
        if: success() || failure()

      - name: Run open_quick_settings_test.dart
        run: ./run_ios_testlab integration_test/open_quick_settings_test.dart
        if: success() || failure()
